@import '~style/grid';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;

	section:not(:first-of-type):not(:last-of-type) {
		border-bottom: 1px solid lightgray;
		padding: 50px 0;
	}
}

@media (min-width: 768px) {
	.home {
		padding: 56px 100px;
	}
}
