.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #696969;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.crest {
	height: 90%;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}

.menuIcon {
	display: none;
}

@media (max-width: 900px) {
	.menuIcon {
		display: block;
		float: right;
		margin-top: 5px;
		margin-right: 5px;
		width: 45px;
		height: 45px;
	}

	nav {
		visibility: hidden;
	}

	.open {
		visibility: visible;
		background: #696969;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 30px;
	}
}
